alias df="df -h"
alias e="efn"
alias hidden="ls -d .??*"
alias l="ls -lh"
alias ll="ls -alh"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias reboot="sudo reboot"
alias shutdown="sudo shutdown -h now"
alias v="$VISUAL"
alias rk-password="openssl rand -base64 32"

e() { $EDITOR "${1:-.}"; }
g() { git "${1:-status}"; }
