alias df="df -h"
alias dnf="sudo dnf"
alias e="efn"
alias hidden="ls -d .??*"
alias l="ls -lh"
alias ll="ls -alh"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias reboot="sudo reboot"
alias shutdown="sudo shutdown -h now"
alias v="$VISUAL"
alias wttr="curl wttr.in/vaxjo"
# alias open="xdg-open"
alias password="openssl rand -base64 32"
alias sync-time="sudo systemctl restart ntpd"

e() { $EDITOR "${1:-.}"; }
g() { git "${1:-status}"; }
ytcast() { youtube-dl -o - $1 | castnow --quiet - ; }
